@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url('./Poppins-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url('./Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins' !important;
}